@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded-md bg-emerald-500 px-4 py-2 text-white hover:bg-emerald-900 disabled:bg-emerald-300;
  }

  .copy-btn {
    @apply absolute right-3 top-3 z-[2] mb-2 mr-2  flex transform cursor-pointer flex-row items-center gap-2 rounded-lg bg-indigo-700
    px-4 py-2 text-center text-xs font-medium text-white  transition duration-150 ease-in-out hover:scale-110 hover:bg-[#24292F]/90 focus:outline-none focus:ring-4 focus:ring-[#24292F]/50 dark:hover:bg-[#050708]/30 dark:focus:ring-gray-500;
  }
}

.blog-pre {
  margin-bottom: 3em !important;
  color: inherit;
  position: relative;
}